.espace_cartes{
  margin-top: 80px;
}

.carte_quiz {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-top: 30px;
  border-radius: 15px;
  border: solid 0.5px black;
}

.header-accueil {
  margin-top: 60px;
}

.header-accueil h1 {
  text-align: center;

}
