.header-creation-quiz {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.header-creation-quiz h1 {
  font-size: 3.5em;
}

.form-creation-quiz {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.question {
  margin-top: 60px;
}

.question h2 {
  margin-bottom: 40px;
  text-align: center;
}

.question label {
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

.question .label-question {
  margin-right: 31px;
  font-size: 1em;
}

.question .input-group {
  margin-bottom: 5px;
}

.question .input-question {
  margin-bottom: 20px;
}

.form-creation-quiz .button-creer {
  text-align: right;
  margin-right: 20px;
}
