.header-repondre-quiz h1 {
  text-align: center;
  margin-top: 60px;
}

.form-rep-quiz {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.label-rep-num {
  text-align: left;
}

.label-question-affichage {
  text-align: center;
}
