.header-repondre-quiz  {
  text-align: center;
  margin-top: 60px;
  background-color: yellow;
}

.form-rep-quiz {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  background-color: blue;
}

.section-rep-quiz .qcm .question .label-question-num {
  font-size: 2em;
  margin-right: 20px;
}

.section-rep-quiz .qcm .question .label-question-affichage {
  font-size: 1.5em;
}

.section-rep-quiz .qcm .question {
  margin-bottom: 5px;
}

.section-rep-quiz .qcm .rep .label-rep-affichage {
  margin-left: 20px;
}

.section-rep-quiz .qcm {
  margin-bottom: 30px;
  margin-top: 30px;
}

.good_rep {
  color: green;
}

.bad_rep {
  color: red;
}
